/* For the section and product items to fade in from top to bottom */
.product {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start from 50px below */
  transition: all 0.8s ease-in-out;
}

.product.fadeInSection {
  opacity: 1;
  transform: translateY(0); /* Move to original position when in view */
}

.product .product-item {
  border: 1px solid rgba(196, 211, 211, 0.9);
  border-radius: 10px;
  transition: box-shadow 0.5s;
  opacity: 0;
  transform: translateY(30px); /* Initially below */
  transition: all 0.8s ease-out;
}

.product .product-item.fadeInProduct {
  opacity: 1;
  transform: translateY(0); /* Move to original position when in view */
}

.product .product-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.product .product-image {
  transition: transform 0.3s ease-in-out;
}

.product .product-item:hover .product-image {
  transform: scale(1.1) rotate(5deg); /* Scales up and rotates slightly on hover */
}

.product .product-content a:hover {
  color: #00d1f9 !important;
}

.product .wow {
  visibility: hidden;
}

.product .wow.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
